@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  color: #404040;
}

.wrapper {
  position: relative;
  width: 82%;
  margin: 0 auto;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  height: auto;
}

.header-top {
  height: 100%;
  background-color: #EBEDEE;
}

.header-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 8px;
}

.header-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.header-top-nav-item-info {
  margin-right: 5vw;
  font-size: 14px;
  font-weight: 500;
}

.header-top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-contacts-item {
  margin-right: 36px;
  font-size: 14px;
  font-weight: 500;
}

.header-search-box {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.header-navigation {
  height: 30%;
  background-color: #E1CEBE;
}

.logo {
  margin-top: 5px;
  margin-bottom: 16px;
}

.search-box {
  width: 100%;
  margin-bottom: 16px;
  margin-left: 18%;
}

.header-title {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 13px;
}

form {
  position: relative;
  width: 90%;
}

input, button {
  outline: none;
  background: transparen;
}

input {
  border-radius: 3px;
  border: 1px solid #E1CEBE;
  width: 100%;
  height: 40px;
  color: #E1CEBE;
  padding-left: 10px;
}

button {
  border: none;
  position: absolute;
  background: url(../img/search_button.svg) no-repeat;
  width: 24px;
  height: 24px;
  top: 12px;
  right: -5px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #e1cebe;
}

.card-box {
  background-color: #EBEDEE;
  border-radius: 3px;
  height: 78px;
  margin-bottom: 16px;
  margin-right: 30px;
}

.card-box-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 13px 18px 13px;
}

.shopping-basket {
  width: 41px;
  height: 41px;
}

.counter {
  background: #BED1E1;
  border-radius: 3px;
  height: 25px;
  margin-left: 16px;
  padding-left: 17px;
  padding-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter-number {
  text-align: center;
}

.navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation-item {
  padding: 10px 50px;
  font-size: 100%;
  font-weight: 500;
}

.navigation-item:hover {
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.main {
  width: 100%;
}

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-box-sidebar-catalog-container {
  background-color: #BED1E1;
  border-radius: 3px;
  width: 260px;
  margin-top: 30px;
}

.main-box-sidebar-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 28px;
}

.main-box-sidebar-catalog-header {
  font-size: 24px;
  font-weight: 500;
  margin-top: 26px;
}

.main-box-sidebar-catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 23px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.main-box-sidebar-catalog-item:hover {
  color: white;
  cursor: pointer;
}

.main-box-sidebar-catalog-item:hover .arrow {
  background: url(../img/white_arrow.svg) no-repeat 50%;
}

.main-box-sidebar-catalog-item:hover .sidebar-dropdown-content {
  display: block;
}

.main-box-sidebar-news {
  background-color: #EBEDEE;
  border-radius: 3px;
  width: 260px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-box-sidebar-news-container {
  padding: 10px 20px 25px 28px;
}

.main-box-sidebar-news-header {
  font-weight: 500;
  font-size: 24px;
}

.news-date {
  background-color: #BED1E1;
  border-radius: 3px;
  width: 64px;
  height: 23px;
  margin-bottom: 9px;
}

.news-item {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 18px;
}

.date {
  padding-top: 4px;
  font-size: 12px;
  text-align: center;
}

.sidebar-dropdown-content {
  display: none;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 24px;
  z-index: 9;
  margin-left: 232px;
  margin-top: -15px;
}

.sidebar-dropdown-content-item {
  color: #404040;
  padding-bottom: 10px;
}

.sidebar-dropdown-content-item:hover {
  color: #566E98;
}

.arrow {
  background: url(../img/arrow.svg) no-repeat 50%;
  width: 9px;
  margin-right: 10px;
  padding: 1px;
  top: 0;
}

.main-container {
  width: 80%;
  height: auto;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 20px;
}

.mySlides {
  width: 100%;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.main-container-slideshow-img {
  width: 100%;
}

.button-container-next {
  width: 9%;
  height: 101.5%;
  background: #E1CEBE;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 10%;
  margin-top: -40px;
}

.text-box {
  position: absolute;
  width: 76%;
  height: 114px;
  background: #404040;
  opacity: 0.3;
  margin-top: -280px;
  margin-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.slide-dot {
  text-align: center;
  margin-top: -30px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 4%;
  margin: 0 2px;
  background: #FFFFFF;
  border-radius: 6px;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background: #566E98;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.main-container-product {
  width: 100%;
  height: auto;
}

.main-container-product-title {
  font-weight: 500;
  font-size: 24px;
  margin-top: 50px;
}

.main-container-product-box {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container-product-box-item:hover {
  background: #EBEDEE;
  border: 2px solid #E1CEBE;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 0px;
}

.main-container-product-box-item {
  width: 260px;
  background: #EBEDEE;
  border-radius: 3px;
  margin-bottom: 10px;
  margin: 2px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.01);
}

.main-container-product-box-item-img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.main-container-product-box-item-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-top: 19px;
  height: 43px;
  margin-left: 21px;
  position: relative;
}

.main-container-product-box-item-price {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.main-container-product-box-item-price::after {
  display: block;
  content: '';
  margin-top: 22px;
  margin-left: 10px;
  width: 90%;
  height: 2px;
  background: #FFFFFF;
}

.main-container-product-box-item-price::before {
  display: block;
  content: '';
  margin-bottom: 22px;
  margin-left: 10px;
  width: 90%;
  height: 2px;
  background: #FFFFFF;
}

.main-container-product-box-item-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 28px;
}

.main-container-product-box-item-button-counter {
  width: 95px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-product-box-item-button-counter-minus {
  width: 15px;
  height: 2px;
  background-color: #566E98;
  cursor: pointer;
}

.main-container-product-box-item-button-counter-num {
  font-weight: 500;
  font-size: 16px;
}

.main-container-product-box-item-button-counter-plus {
  cursor: pointer;
}

.main-container-product-box-item-button-counter-plus-item {
  width: 15px;
  height: 2px;
  background-color: #566E98;
}

.main-container-product-box-item-button-counter-plus-item-rotate {
  width: 15px;
  height: 2px;
  margin-top: -2px;
  background-color: #566E98;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-container-product-box-item-button-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #BED1E1;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.main-container-product-box-item-button-basket:hover {
  background: #E1CEBE;
}

.main-container-promotion {
  width: 100%;
  height: auto;
}

.main-container-promotion-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-container-promotion-header-title {
  font-weight: 500;
  font-size: 24px;
}

.main-container-promotion-header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #566E98;
  cursor: pointer;
  margin-right: 10px;
}

.main-container-promotion-header-text:hover {
  color: #E1CEBE;
}

.main-container-promotion-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container-promotion-box-item {
  width: 260px;
  cursor: pointer;
}

.main-container-promotion-box-item-date {
  margin-top: -20px;
  margin-left: 10px;
  width: 60px;
  height: 25px;
  background: #BED1E1;
  border-radius: 3px;
  z-index: 99;
  position: absolute;
  font-weight: normal;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-promotion-box-item-subtitle {
  margin-top: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #566E98;
}

.main-container-promotion-box-item-subtitle:hover {
  color: #E1CEBE;
}

.main-container-promotion-box-item-img {
  width: 100%;
}

.main-container-info-title {
  margin-top: 54px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.main-container-info-text {
  margin-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #BED1E1;
  width: 100%;
  margin-top: 50px;
}

.footer-box {
  width: 100%;
  height: auto;
}

.footer-box-contacts {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 12px;
}

.footer-box-contacts::after {
  content: '';
  width: 100%;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
}

.footer-box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 18px;
  padding-bottom: 30px;
}

.footer-box-info-list {
  width: 580px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.footer-box-info-list li:first-child {
  margin-bottom: 10px;
}

.footer-box-info-list li:first-child-policy {
  margin-left: 15px;
}

.footer-box-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-item ul {
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.footer-email {
  margin-top: -15px;
}

.footer-email img {
  margin-top: -5px;
}

.footer-logo {
  padding-top: 15px;
  padding-bottom: 12px;
  width: 127px;
  width: 100px;
}

.footer-logo-kontur {
  margin-left: 13px;
}

@media screen and (max-width: 1024px) {
  .search-box {
    margin-bottom: 16px;
    margin-left: 10%;
  }
  .main-box-sidebar-catalog-container {
    width: 220px;
  }
  .main-box-sidebar-catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .main-box-sidebar-catalog-item:hover {
    color: white;
    cursor: pointer;
  }
  .main-box-sidebar-catalog-item:hover .arrow {
    background: url(../img/white_arrow.svg) no-repeat 50%;
  }
  .main-box-sidebar-catalog-item:hover .sidebar-dropdown-content {
    display: block;
  }
  .main-box-sidebar-news {
    width: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .button-container-next {
    height: 102%;
  }
  .button-container-prev {
    height: 102%;
  }
  .text-box {
    position: absolute;
    width: 76%;
    height: 114px;
    background: #404040;
    opacity: 0.3;
    margin-top: -230px;
    margin-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .header-top-contacts {
    margin-left: 0px;
  }
  .header-search-box {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  .header-navigation {
    height: 30%;
    background-color: #E1CEBE;
  }
  .main {
    width: 100%;
  }
  .main-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .main-box-sidebar-catalog-container {
    background-color: #BED1E1;
    border-radius: 3px;
    width: 210px;
    margin-top: 30px;
  }
  .main-box-sidebar-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 28px;
  }
  .main-box-sidebar-catalog-header {
    font-size: 20px;
    font-weight: 500;
    margin-top: 26px;
  }
  .main-box-sidebar-catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  .main-box-sidebar-catalog-item:hover {
    color: white;
    cursor: pointer;
  }
  .main-box-sidebar-catalog-item:hover .arrow {
    background: url(../img/white_arrow.svg) no-repeat 50%;
  }
  .main-box-sidebar-catalog-item:hover .sidebar-dropdown-content {
    display: block;
  }
  .main-box-sidebar-news {
    background-color: #EBEDEE;
    border-radius: 3px;
    width: 210px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-bottom-padding: 10px 20px 25px 28px;
  }
  .main-box-sidebar-news-header {
    font-weight: 500;
    font-size: 20px;
  }
  .news-date {
    background-color: #BED1E1;
    border-radius: 3px;
    width: 64px;
    height: 23px;
    margin-bottom: 9px;
  }
  .news-item {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .date {
    padding-top: 4px;
    font-size: 12px;
    text-align: center;
  }
  .sidebar-dropdown-content {
    margin-left: 182px;
    margin-top: -15px;
  }
  .mySlides {
    width: 100%;
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-container-next {
    height: 103%;
  }
  .next {
    margin-top: -20px;
  }
  .text-box {
    width: 50%;
    height: 80px;
    margin-top: -150px;
    margin-left: 95px;
  }
  .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .slide-dot {
    text-align: center;
    margin-top: -30px;
  }
  .dot {
    height: 5px;
  }
  .main-container-product-title {
    font-size: 18px;
    margin-top: 30px;
  }
  .main-container-product-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container-promotion-header-title {
    font-weight: 500;
    font-size: 18px;
  }
  .main-container-promotion-header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #566E98;
    cursor: pointer;
    margin-right: 10px;
  }
  .main-container-promotion-header-text:hover {
    color: #E1CEBE;
  }
  .main-container-promotion-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-container-promotion-box-item {
    width: 260px;
    cursor: pointer;
  }
  .main-container-promotion-box-item-date {
    margin-top: -20px;
    margin-left: 10px;
    width: 60px;
    height: 25px;
    background: #BED1E1;
    border-radius: 3px;
    z-index: 99;
    position: absolute;
    font-weight: normal;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container-promotion-box-item-subtitle {
    margin-top: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #566E98;
  }
  .main-container-promotion-box-item-subtitle:hover {
    color: #E1CEBE;
  }
  .main-container-promotion-box-item-img {
    width: 100%;
  }
  .main-container-info-title {
    margin-top: 30px;
  }
  .main-container-info-text {
    margin-top: 20px;
    font-size: 14px;
  }
  .footer-box-contacts {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .footer-box-info {
    font-size: 12px;
  }
  .footer-item ul {
    padding-left: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
  }
  .footer-logo {
    margin-right: 20px;
  }
}

@media screen and (max-width: 475px) {
  .header {
    width: 100%;
    height: auto;
  }
  .header-search {
    margin-top: 15px;
  }
  .header-top {
    height: 100%;
    background-color: #EBEDEE;
  }
  .header-top-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 8px;
  }
  .header-top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-top-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .header-top-nav-item-info {
    margin-right: 5vw;
    font-size: 12px;
    font-weight: 500;
  }
  .header-top-contacts-item {
    margin-right: 36px;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 12px;
  }
  .header-search-box {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  .header-navigation {
    height: 30%;
    background-color: #E1CEBE;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .search-box {
    margin-left: 8%;
    margin-right: 8%;
  }
  .header-title {
    font-size: 10px;
  }
  input {
    width: 100%;
    height: 20px;
    color: #E1CEBE;
    padding-left: 10px;
  }
  button {
    background: url(../img/search_button.svg) no-repeat 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    right: -10px;
  }
  ::-webkit-input-placeholder {
    color: #e1cebe;
    font-size: 10px;
  }
  .card-box {
    height: 70px;
    margin-bottom: 15px;
    margin-right: 0px;
  }
  .card-box-mini {
    padding: 14px 10px 14px 10px;
  }
  .counter {
    background: #BED1E1;
    border-radius: 3px;
    height: 20px;
    margin-left: 16px;
    padding-left: 17px;
    padding-right: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .counter-number {
    text-align: center;
    font-size: 10px;
  }
  .navigation-item {
    font-size: 12px;
    font-weight: 500;
  }
  .navigation-item:hover {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  .main-box {
    width: 100%;
  }
  .main-box-sidebar-catalog-container {
    width: 120px;
    margin-top: 20px;
  }
  .main-box-sidebar-catalog {
    margin-left: 8px;
  }
  .main-box-sidebar-catalog-header {
    font-size: 14px;
    margin-top: 16px;
  }
  .main-box-sidebar-catalog-item {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 19px;
  }
  .main-box-sidebar-news {
    background-color: #EBEDEE;
    border-radius: 3px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .main-box-sidebar-news-container {
    padding: 10px 10px 15px 8px;
  }
  .main-box-sidebar-news-header {
    font-weight: 500;
    font-size: 14px;
  }
  .news-date {
    background-color: #BED1E1;
    border-radius: 3px;
    width: 40px;
    height: 18px;
    margin-bottom: 9px;
  }
  .news-item {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  .date {
    padding-top: 4px;
    font-size: 8px;
    text-align: center;
  }
  .sidebar-dropdown-content {
    padding: 10px;
    z-index: 9;
    margin-left: 113px;
    margin-top: 0px;
  }
  .sidebar-dropdown-content-item {
    font-size: 9px;
    padding-bottom: 0px;
  }
  .main-container {
    width: 80%;
    height: auto;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 5px;
  }
  .main-container-slideshow-img {
    width: 90%;
  }
  .mySlides {
    width: 90%;
  }
  .main-container-slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .main-container-slideshow-img {
    width: 100%;
  }
  .button-container-next {
    width: 7%;
    height: 107%;
    background: #E1CEBE;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 25px;
  }
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 10%;
    margin-top: -5px;
  }
  .text-box {
    position: absolute;
    width: 50%;
    height: 40px;
    background: #404040;
    opacity: 0.3;
    margin-top: -80px;
    margin-left: 50px;
  }
  .text {
    font-size: 10px;
  }
  .slide-dot {
    width: 90%;
    margin-top: -30px;
  }
  .dot {
    cursor: pointer;
    height: 4px;
    width: 2%;
  }
  .active, .dot:hover {
    background: #566E98;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  .main-container-product {
    width: 80%;
    height: auto;
  }
  .main-container-product-title {
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
  }
  .main-container-product-box-item {
    width: 180px;
  }
  .main-container-product-box-item-subtitle {
    font-size: 12px;
    margin-top: 10px;
    height: 30px;
  }
  .main-container-product-box-item-price {
    font-size: 12px;
    margin-top: 10px;
  }
  .main-container-product-box-item-price::after {
    margin-top: 12px;
    height: 1px;
  }
  .main-container-product-box-item-price::before {
    margin-bottom: 12px;
    height: 1px;
  }
  .main-container-product-box-item-button {
    width: 100%;
    margin-bottom: 18px;
  }
  .main-container-product-box-item-button-counter {
    width: 55px;
    height: 30px;
  }
  .main-container-product-box-item-button-counter-minus {
    width: 10px;
    height: 1px;
  }
  .main-container-product-box-item-button-counter-num {
    font-weight: 500;
    font-size: 10px;
  }
  .main-container-product-box-item-button-counter-plus {
    cursor: pointer;
  }
  .main-container-product-box-item-button-counter-plus-item {
    width: 10px;
    height: 1px;
  }
  .main-container-product-box-item-button-counter-plus-item-rotate {
    width: 10px;
    height: 1px;
    margin-top: -2px;
  }
  .main-container-product-box-item-button-basket {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }
  .main-container-promotion {
    width: 90%;
    height: auto;
  }
  .main-container-promotion-header {
    width: 100%;
  }
  .main-container-promotion-header-title {
    font-size: 14px;
  }
  .main-container-promotion-header-text {
    font-size: 12px;
  }
  .main-container-promotion-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-container-promotion-box-item {
    width: 150px;
  }
  .main-container-promotion-box-item-date {
    margin-top: -10px;
    margin-left: 10px;
    width: 40px;
    height: 15px;
    font-size: 9px;
  }
  .main-container-promotion-box-item-subtitle {
    margin-top: 12px;
    font-size: 12px;
  }
  .main-container-info-title {
    margin-top: 24px;
    font-size: 14px;
  }
  .main-container-info-text {
    margin-top: 15px;
    font-size: 12px;
  }
  .footer {
    background-color: #BED1E1;
    width: 100%;
    margin-top: 30px;
  }
  .footer-box-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    padding-bottom: 20px;
  }
  .footer-box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 18px;
    padding-bottom: 30px;
  }
  .footer-box-info-list {
    width: 580px;
    font-size: 6px;
    font-weight: 400;
    line-height: 14px;
  }
  .footer-box-info-list li:first-child {
    margin-bottom: 1px;
  }
  .footer-box-info-list li:first-child-policy {
    font-size: 6px;
    margin-left: 15px;
  }
  .footer-box-info-title {
    font-size: 6px;
  }
  .footer-box-info-title-list {
    color: #ffffff;
    font-size: 6px;
    font-weight: 500;
  }
  .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 10px;
  }
  .footer-item li {
    margin-bottom: -10px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 8px;
  }
  .footer-logo {
    padding-top: 10px;
    padding-bottom: 1px;
    width: 60px;
  }
  .footer-logo-map {
    width: 10px;
  }
  .footer-logo-mail {
    width: 10px;
  }
  .footer-logo-phone {
    width: 10px;
  }
  .footer-logo-kontur {
    margin-left: 13px;
    width: 30px;
  }
  .footer-email {
    margin-top: -10px;
  }
  .footer-email img {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */